# -
#-*-~*~-*-*-~*~-*-*-~*~* |
#●▬▬▬▬▬▬▬๑۩۩๑▬▬▬▬▬▬▬●
#Made by ~
#    Kyle Speight ❥
#●▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
#──────▄▀▄─────▄▀▄
#─────▄█░░▀▀▀▀▀░░█▄
#─▄▄──█░░░░░░░░░░░█──▄▄
#█▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
#-*-~*~-*-*-~*~-*-*-~*~* |
#-
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
/vendor
Gemfile.lock
