$darkbg: #1c1c1c;
$btCinza: #222;
$icons: #eeff00;
$branco: #fff;
$button-width: 320px;
$button-height: 65px;
$nav-padding: 10px;
$icon-size: 20px;
$animation-duration: 300ms;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $darkbg;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#toggle {
  -webkit-appearance: none;
}

.button {
  position: absolute;
  z-index: 999;
  width: $button-width;
  height: $button-height;
  background: $btCinza;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  overflow: hidden;
  transition: width 300ms linear;

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: $icon-size;
    height: 2px;
    background: $icons;
    transition: all 0.4s ease;
  }

  &:before {
    transform: rotate(225deg);
  }

  &:after {
    transform: rotate(135deg);
  }
}

.nav {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  background: $btCinza;
  width: 100%;
  border-radius: 5px;
  transform: translateX(10%);
  padding: $nav-padding;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  li {
    opacity: 0;
    list-style: none;

    &:nth-child(n) {
      transform-origin: bottom;
      animation: itop $animation-duration 300ms linear forwards;
      animation-delay: calc(300ms * (n - 1));
    }
  }

  a {
    transition: color 0.5s linear, background 0.5s linear;
    text-decoration: none;
    color: $icons;
    font-size: 20px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 15px;

    &:hover {
      color: $branco;
      background: $darkbg;
    }
  }
}

#toggle:checked ~ label .nav {
  display: none;
  opacity: 0;
  transform: translateX(0);
}

#toggle:checked ~ .button {
  width: 70px;
  transition: width 0.1s linear;

  &:before {
    transform: rotate(90deg);
  }

  &:after {
    transform: rotate(0deg);
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

@keyframes itop {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
